<FilesMatch "\.(html|css|js|json|xml|md|sh|log|txt|conf)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

<Directory /public>
    Order Allow,Deny
    Allow from all
</Directory>