#lock-screen {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.lovepik.com/background/20211021/large/lovepik-network-security-lock-background-image_500470175.jpg');
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
#lock-screen h1 {
    color: yellow; 
    font-size: 50px;
    margin-bottom: 20px;
}
#lock-screen input {
    padding: 10px;
    font-size: 30px;
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid #007bff; 
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}
#lock-screen input:focus {
    border-color: #0056b3; 
}
#lock-screen button {
    padding: 10px 20px;
    font-size: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}
#lock-screen button:hover {
    background-color: #0056b3;
}
#error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
#nhận-pass {
    color: lime;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}
#nhận-pass:hover {
    text-decoration: underline;
}
.youtube-icon-container {
    position: absolute;
    top: 10px;
    right: 10px; 
    z-index: 1001; 
}
.youtube-icon {
    width: 55px; 
    height: 55px; 
    background-image: url('https://firebasestorage.googleapis.com/v0/b/nhachay-43b11.appspot.com/o/Polish_20240816_183016317.png?alt=media&token=762cad4c-dc98-4242-9807-d00c56bceaf3'); 
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}